body{
	font: 15px/1.5 Segoe UI, Roboto, Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color:#f5f5f5;
}

.header {
	background-color:#87c232;
	width:100%;	
	height:360px;
	overflow:hidden;
}

.header h1 {
	color:#fff;
	text-align:center;
	margin-top:150px;
}

.nav {
	padding-left:20%;
	padding-right:20%;
	height:48px;
	background-color:#325bc2;
	color:#fff;	
	font-size:20px;
}

.nav ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #87c232;
}

h1 {
	text-align:center;
}

.container{
	width:60%;
	margin:auto;
	overflow:hidden;
}

#aboutme{
	margin:auto;
	overflow:hidden;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
	border-bottom:#d4d6d7 5px solid;
}

#boxes {
	padding-top:30px;
	padding-bottom:50px;
	border-bottom:#d4d6d7 5px solid;
}

#boxes .box {
	float:left;
	text-align:center;
	width:47%;
	padding:12px;
}

.button {
  display: block;
  background-color: #325bc2;
  color: #fff;
  padding: 9px 16px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

.button:hover {
  background-color: #87c232;
}


.toggle1, .toggle2, .toggle3, .toggle4, .toggle5, .toggle6 {
	 background:none!important;
     border:none; 
     padding:0!important;
     cursor: pointer;
}

.professioneel_vakmanschap, .onderzoekend_vermogen, .leervermogen , 
.communicatief_vermogen, .beroepsethiek_en_maatschappelijke_orientatie,
.samenwerken {
	display:none;
}


